.app{
  display: flex;
}


.main-info{
  border: 1px solid grey;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.header{
  margin-block-end: 1rem;
}

.user-preview{
  width:16rem;
  border: 2px solid rgb(55, 199, 55);
  margin-block-end: 1rem;
  padding-inline: 1rem;
}

.todos-left{
  border: 2px solid red;
}

.main-btns-closed {
 margin-block: 0.5rem;
 display: flex;
}

.main-btns-opened {
  margin-block: 0.5rem;
 }

.btns{
 text-align: end;
}

.grey-btn{
  background-color: gray;
}

.grey-btn:hover{
  background-color: rgb(187, 186, 186);
}



.adress{
  cursor: pointer;
  background-color: lightgrey;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  margin-block: 0.5rem;
  text-align: end;
}

.address-input{
  background-color: lightgrey;
  cursor: pointer;
}

.add-section{
  margin-block-start: 4rem;
}

.add-user{
  border: 2px solid gray;
  padding: 1rem;
  margin-block-start: 0.5rem;
}

.add-user button, .add-user input{
  margin-block-start: 0.5rem;
}

.add-user p{
  font-size: 0.5rem;
  color:red;
  margin: 0;
}

.msg{
  position: absolute;
  background-color: rgb(97, 230, 97);
  color:whitesmoke;
  text-align: center;
  padding: 1rem;
  right: 50%;
  transform: translate(50%);
  top:30%;
}

.todos-and-posts{
  border: 1.5px solid purple;
  height:25rem;
  overflow-y: auto;
  margin-block: 1rem;
  width: 40rem;
}

.tasks-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem;
}

.todo, .post{
  position: relative;
  border: 1px solid purple;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  
}


.todo button{
  position: absolute;
  align-self: flex-end;
  height:2rem;
  right: 0.3rem;
  bottom: 0.3rem;
}

.tasks-add{
  border: 1.5px solid purple;
  height:25rem;
  margin-block: 1rem;
  text-align: center;
}

.task-add-around{
  border: 1.5px solid purple;
  width: 20rem;
  margin-inline-start: 50%;
  transform: translate(-50%);
  margin-block-start: 20%;
  transform: translate(-50%);
  padding: 0.5rem;
  background-color: lightgray;
}

.tasks-add button{
  margin-block-start: 0.5rem;
}
